{% comment %}
  Renders a product card

  Accepts:
  - card_product: {Object} Product Liquid object (optional)
  - section_id: {String} The ID of the section that contains this card.

  Usage:
  {% render 'card-product'%}
{% endcomment %}

<article class="flex flex-col pt-5 px-7 pb-9 w-[370px]">
        <a href="#" class="relative block w-[315px] h-[340px] border border-gray overflow-hidden group">
            <img 
                id="card-product-image" 
                src="{{ card_product | image_url }}" 
                width="315px" 
                height="340px" 
                alt="{{ card_product.title }}" 
                class="z-20 w-full h-full object-cover"
            />
            <img
                id="card-product-secondar-image" 
                src="{{ card_product | image_url }}" 
                width="315px" 
                height="340px" 
                alt="{{ card_product.title }}" 
                class="absolute top-0 left-0 z-50 w-full h-full object-cover opacity-0 group-hover:opacity-100 transition-opacity duration-200"
            />
            
            {% if card_product.compare_at_price > card_product.price %}
                <p class="text-base font-semibold text-red absolute top-5 left-5 border border-red py-1.5 px-3 rounded-3xl z-50">On Sale!</p>
            {% endif %} 
        </a>

        {% if card_product.variants.size > 0  %}
            <ul class="flex gap-2 my-4">
                {% for variant in card_product.variants %}
                        <button 
                            type="button"
                            data-variant-id="{{ variant.id }}"
                            class="w-6 h-6 rounded-full"
                            style="background-color: {{ variant.option1 | downcase }};"
                        > 
                            <span class="sr-only">{{ variant.title }}</span>
                        </button>
                {% endfor %}
            </ul>
        {% endif %}


        <p>{{ card_product.vendor }}</p>
        <a href="#">
            <p class="text-blue">{{ card_product.title }}</p>
        </a>
        <div class="flex gap-2">
            {% if card_product.compare_at_price != blank and card_product.compare_at_price > card_product.price%}
                <p class="line-through">{{ card_product.compare_at_price | money}}</p>
                <p class="text-red">{{ card_product.price | money}}</p>                    
            {% else %}
                <p class="">{{ card_product.price | money}}</p>
            {% endif %}
        </div>
</article>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const featuredImgElement = document.getElementById('card-product-image');
        const secondaryImgElement = document.getElementById('card-product-secondar-image');
        const variants = {{ card_product.variants | json }};
        const swatchButtons = document.querySelectorAll('[data-variant-id]');
        let variantMap = {};
        let featuredImgIndex = 0;

        updateSecondaryImage(featuredImgIndex);

        if (variants.length === 0) {
            return;
        }

        variants.forEach(variant => {
            if (variant.featured_image) {
                variantMap[variant.id] = variant.featured_image.src;
            }
        });

        swatchButtons.forEach(button => {
            button.addEventListener('click', function() {
                const variantId = button.dataset.variantId;
                const newImageSrc = variantMap[variantId];

                if (newImageSrc) {
                    featuredImgElement.src = newImageSrc;
                    featuredImgIndex = {{ card_product.images | json }}.indexOf(newImageSrc);
                    updateSecondaryImage(featuredImgIndex);
                }
            });
        });

        function updateSecondaryImage(index) {
            const secondaryImgUrl = {{ card_product.images | json }}[featuredImgIndex + 1];

            if (secondaryImgUrl) {
                secondaryImgElement.src = secondaryImgUrl;
            }
        }
    });


</script>
